.modal-input {
  border: none;
  background-color: white;
  outline: none;
  color: black;
  font-size: 14px;
  font-family: system-ui;
  width: 100%;
}
.user-info-div {
  display: flex;
  justify-content: space-between;
}

.profile-dummy-button button {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 28px;
  border: 1px solid transparent;
  background-color: #0a66c2;
  color: white;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.profile-dummy-button button:hover {
  background-color: #004182;
}
