.single-group-cover-image {
  background-image: url(https://static.licdn.com/aero-v1/sc/h/68ao3xk5x5pa9fwrs0al41kf0);
  height: 140px;
  max-width: 774px;
  position: relative;
  > img {
    width: 80px;
    height: 80px;
    position: absolute;
    object-fit: cover;
    bottom: -20px;
    left: 20px;
    border: 1px solid #fff;
  }
}
.single-group-details {
  margin-top: 2.5rem;
  > p {
    padding-left: 20px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 18px;
  }
  > div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    > button {
      border: none;
      background-color: #186fc6;
      color: #fff;
      padding: 4px 16px;
      border-radius: 24px;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
    }
    > span {
      cursor: pointer;
      font-weight: 500;
      color: rgb(0 0 0/0.6);
    }
  }
}
.single-group-details.dark {
  > p {
    color: rgb(255 255 255/0.9);
  }
  > div {
    > button {
      color: #1b1f23;
    }
    > span {
      color: rgb(255 255 255 /0.6);
    }
  }
}
.single-group-about {
  padding: 20px;
  > p {
    font-weight: 600;
    font-size: 17px;
    color: rgb(0 0 0/0.8);
  }
  > div {
    > p {
      font-size: 14px;
      margin-top: 4px;
      color: rgb(0 0 0/0.7);
    }
  }
}
.single-group-about.dark {
  > p {
    color: rgb(255 255 255/0.9);
  }
  > div {
    > p {
      color: rgb(255 255 255/0.7);
    }
  }
}
.group-posts-container {
  margin-top: 1rem;
}
.group-no-post-found {
  padding: 20px;
  text-align: center;
}
.group-no-post-found.dark {
  color: rgb(255 255 255/0.9);
}

/* Sidebar code */

.sidebar {
  display: flex;
  flex: 0.25;
  flex-direction: column;
}

.sidebar .sidebar_profile {
  border-bottom: 1px solid #000;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.sidebar .sidebar_profile img {
  width: 100%;
  height: 50px;
  margin-bottom: -30px;
}

.sidebar .sidebar_profile .MuiAvatar-root {
  width: 50px !important;
  height: 50px !important;
  margin: 0px auto;
  object-fit: contain;
}

.profile_details {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.profile_details h4 {
  margin-bottom: 0px;
}

.profile_details p {
  margin: 5px 10px;
  font-size: 13px;
  color: #333;
}
.profile_stats {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 12px;
  padding: 5px 10px;
  align-items: center;
}

.sidebar_recent {
  background-color: #fff;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
  position: sticky;
  top: 60px;
}

.sidebar_recent {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
}
.sidebar_recent div {
  padding: 4px;
  display: flex;
  flex-direction: column;
  /* row-gap: 10px; */
  border-bottom: 1px solid rgb(0 0 0/0.1);
}
.sidebar_recent a {
  font-weight: 500;
  font-size: 12px;
  color: #0a66c2;
}
.sidebar_recent a:hover {
  text-decoration: underline;
}
.sidebar_recent p {
  text-align: center;
  padding: 12px 0;
  font-weight: 500;
  font-size: 14px;
  color: rgb(0 0 0/0.6);
}

.hash span {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
  color: #333;
}

/* Maincontent */

/* .feedPage-layout {
  display: flex;
  flex-direction: row;
} */
/* 
.feedPage-layout--aside-sg {
  grid-area: aside;
  padding: 20px;
  padding-left: 15px;
  border: none;
}

.feedPage-layout--main {
  grid-area: main;
}
.feedPage-layout--sidebar {
  grid-area: sidebar;
} */

/* neew */

.feedPage-layout {
  display: grid;

  grid-template-columns: 20% 60% 20%;

  grid-template-areas: "sidebar main aside";
}

.feedPage-layout--aside-sg {
  grid-area: aside;

  padding: 20px;

  border: none;
}

.feedPage-layout--main {
  grid-area: main;
  padding: 20px;
}

.feedPage-layout--sidebar {
  grid-area: sidebar;
}

.group-seggestion-heading-sg {
  padding: 16px;
  > span {
    font-weight: 500;
  }
}
.group-seggestion-heading.dark {
  > span {
    color: rgb(255 255 255/0.9);
  }
}
.suggested-groups-container {
  padding: 16px 0;
}
.suggested-group-card {
  border-bottom: 1px solid rgb(0 0 0/0.1);
  margin-top: 1rem;
  > div {
    display: flex;
    > img {
      width: 60px;
    }
    > div {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      justify-content: center;
      > span:first-child {
        font-weight: 500;
      }
      > span:last-child {
        font-size: 13px;
        color: rgb(0 0 0/0.6);
      }
    }
  }
  > button {
    margin-left: 76px;
    margin-top: 10px;
    background-color: transparent;
    font-weight: 500;
    outline: none;
    border: 1px solid rgb(0 0 0/0.6);
    cursor: pointer;
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 14px;
    color: rgb(0 0 0/0.6);
    margin-bottom: 1rem;
  }
}
.suggested-group-card.dark {
  border-bottom: 1px solid rgb(255 255 255/0.2);
  > div {
    > div {
      > span:first-child {
        color: rgb(255 255 255/0.9);
      }
      > span:last-child {
        color: rgb(255 255 255/0.6);
      }
    }
  }
  > button {
    border: 1px solid rgb(255 255 255/0.6);
    color: rgb(255 255 255/0.6);
  }
}
.suggested-group-card:last-child {
  border-bottom: none;
}
.create-group-modal {
  width: 744px;
  max-width: 100%;
  max-height: calc(100vh - 16px);
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 32px;
  box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2), 0px 4px 4px rgb(0 0 0/0.3);
  > button {
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    padding: 0;
    height: 28px;
    width: 28px;
    min-width: auto;
    border-color: hsla(0, 0%, 100%, 0);
    color: rgb(0 0 0/0.6);
    border-radius: 50%;
    cursor: pointer;
    min-height: 28px;
    line-height: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background: none;
    justify-content: center;
    &:hover {
      background-color: rgb(0 0 0 / 0.1);
    }
  }
}
