.all-content-container {
  padding: 52px 0;
}
.all-content-container-profile {
  background-color: #f3f2ef;
}
.feedPage-layout-container {
  margin: 24px auto;
}
.feedPage-layout--sidebar {
  grid-area: sidebar;
}
.feedPage-layout--main {
  grid-area: main;
}
.feedPage-main--box {
  background: #fff;
  border-radius: 10px;
  /* padding: 12px 24px; */
  margin-bottom: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.feedPage-main--box-about {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.single-group-cover-image {
  background-image: url(https://static.licdn.com/aero-v1/sc/h/68ao3xk5x5pa9fwrs0al41kf0);
  height: 140px;
  max-width: 774px;
  position: relative;
  > img {
    width: 80px;
    height: 80px;
    position: absolute;
    object-fit: cover;
    bottom: -20px;
    left: 20px;
    border: 1px solid #fff;
  }
}
.single-group-details {
  margin-top: 2.5rem;
  > p {
    padding-left: 20px;
    font-weight: 600;
    line-height: 1.25;
    font-size: 18px;
  }
  > div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    > button {
      border: none;
      background-color: #186fc6;
      color: #fff;
      padding: 4px 16px;
      border-radius: 24px;
      font-weight: 500;
      font-size: 16px;
      cursor: pointer;
    }
    > span {
      cursor: pointer;
      font-weight: 500;
      color: rgb(0 0 0/0.6);
    }
  }
}
.single-group-details.dark {
  > p {
    color: rgb(255 255 255/0.9);
  }
  > div {
    > button {
      color: #1b1f23;
    }
    > span {
      color: rgb(255 255 255 /0.6);
    }
  }
}
.single-group-about {
  padding: 20px;
  > p {
    font-weight: 600;
    font-size: 17px;
    color: rgb(0 0 0/0.8);
  }
  > div {
    > p {
      font-size: 14px;
      margin-top: 4px;
      color: rgb(0 0 0/0.7);
    }
  }
}
.single-group-about.dark {
  > p {
    color: rgb(255 255 255/0.9);
  }
  > div {
    > p {
      color: rgb(255 255 255/0.7);
    }
  }
}
.group-posts-container {
  margin-top: 1rem;
}
.group-no-post-found {
  padding: 20px;
  text-align: center;
}
.group-no-post-found.dark {
  color: rgb(255 255 255/0.9);
}

feedPage-layout--aside-social-connect-container {
  position: sticky;
  top: 20px;
}

.feedPage-layout--aside-social-connect {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.create-post-modal-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgb(0 0 0/0.4);
  z-index: 106;
}
.feedPage-layout--aside-social-connect p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-bottom: 16px;
}

.feedPage-layout--aside-social-connect a {
  display: inline-block;
  background-color: #0a66c2;
  color: white;
  padding: 12px 20px;
  border-radius: 28px;
  font-weight: 600;
  text-decoration: none;
}

.feedPage-layout--aside-social-connect a:hover {
  background-color: #004182;
}

.groupPage-common-container {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 0px 1px rgb(140 140 140/0.2);
}
.groupPage-common-container.dark {
  background-color: #1b1f23;
}
.group-seggestion-heading {
  padding: 16px;
  > span {
    font-weight: 500;
  }
}
.group-seggestion-heading.dark {
  > span {
    color: rgb(255 255 255/0.9);
  }
}
.suggested-groups-container {
  padding: 16px 0;
}
.suggested-group-card {
  border-bottom: 1px solid rgb(0 0 0/0.1);
  margin-top: 1rem;
  > div {
    display: flex;
    > img {
      width: 60px;
    }
    > div {
      margin-left: 16px;
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      justify-content: center;
      > span:first-child {
        font-weight: 500;
      }
      > span:last-child {
        font-size: 13px;
        color: rgb(0 0 0/0.6);
      }
    }
  }
}

.create-post-modal-share-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.create-post-modal-share-box-header {
  display: block;
  padding: 16px 48px 16px 24px;
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
  display: flex;
  align-items: center;
  > img {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    margin-right: 12px;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    > span:first-child {
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
    }
    > span:last-child {
      font-size: 14px;
    }
  }
}
.create-post-modal-share-box-header.dark {
  > div {
    color: rgb(255 255 255/0.9);
  }
}
.create-post-modal-share-box-content-container {
  min-height: 480px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: calc(100vh - (160px + 64px + 64px));
}
.create-post-modal-share-box-content {
  flex-grow: 1;
  overflow-y: auto;
}
