.single-group-cover-image {
    background-image: url(https://static.licdn.com/aero-v1/sc/h/68ao3xk5x5pa9fwrs0al41kf0);
    height: 140px;
    max-width: 774px;
    position: relative;
    >img{
        width: 80px;
        height: 80px;
        position: absolute;
        object-fit: cover;
        bottom: -20px;
        left: 20px;
        border: 1px solid #fff;
    }
}
.single-group-details{
    margin-top: 2.5rem;
    >p{
        padding-left: 20px;
        font-weight: 600;
        line-height: 1.25;
        font-size: 18px;
    }
    >div{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        >button{
            border: none;
            background-color: #186FC6;
            color: #fff;
            padding: 4px 16px;
            border-radius: 24px;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
        }
        >span{
            cursor: pointer;
            font-weight: 500;
            color: rgb(0 0 0/.6);
        }
    }
    
}
.single-group-details.dark{
    >p{
        color: rgb(255 255 255/.9);
    }
    >div{
        >button{
            color: #1b1f23;
        }
        >span{
            color: rgb(255 255 255 /.6);
        }
    }
    
}
.single-group-about{
    padding: 20px;
    >p{
        font-weight: 600;
        font-size: 17px;
        color: rgb(0 0 0/.8);
    }
    >div{
        >p{
            font-size: 14px;
            margin-top: 4px;
            color: rgb(0 0 0/.7);
        }
    }
}
.single-group-about.dark{
    >p{
        color: rgb(255 255 255/.9);
    }
    >div{
        >p{
            color: rgb(255 255 255/.7);
        }
    }
}
.group-posts-container{
    margin-top: 1rem;
}
.group-no-post-found{
    padding: 20px;
    text-align: center;
}
.group-no-post-found.dark{
    color: rgb(255 255 255/.9);
}